<div class="ui centered segment very padded" style="margin-top: 4em;">
  <form class="ui form" [formGroup]="applicantForm">
    <!-- firstName -->
    <div class="field">
      <label>First Name
        <span style="color:red">*</span>
      </label>
        <input type="text" formControlName="firstName" [(ngModel)]="userdata.firstName" placeholder="enter the first name">
      <div *ngIf="applicantForm.controls['firstName'].touched && !applicantForm.controls['firstName'].valid" class="alert alert-danger">
        <p>Name need to be AtLeast 4 characters</p>
      </div>
    </div>
    <!-- lastName -->
    <div class="field">
      <label>Last Name
      </label>
      <input type="text" formControlName="lastName" [(ngModel)]="userdata.lastName" placeholder="enter the last name">
    </div>
    <!-- email -->
    <div class="field">
      <label>Email
        <span style="color:red">*</span>
      </label>
      <input type="text" formControlName="email" [(ngModel)]="userdata.email " placeholder="valid Email addresss">
      <div class="alert alert-danger" *ngIf="applicantForm.controls['email'].touched&&!applicantForm.controls['email'].valid">
        <p>Enter a valid email address
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- date of birth -->
    <div class="field">
      <label>Date Of Birth
        <span style="color:red">*</span>
      </label>
      <input type="date" formControlName="dob" [(ngModel)]="userdata.dob" placeholder="enter date of birth">
      <div class="alert alert-danger" *ngIf="!applicantForm.controls['dob'].dirty && applicantForm.controls['dob'].touched">
        <p>Please fill required fields
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- mobile number -->
    <div class="field">
      <label>Mobile Number
        <span style="color:red">*</span>
      </label>
      <input type="number" formControlName="phone" [(ngModel)]="userdata.phone" placeholder="please enter your contact number">
      <div class="alert alert-danger" *ngIf="applicantForm.controls['phone'].touched &&!applicantForm.controls['phone'].valid">
        <p>enter a valid mobile number
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- address -->
    <div class="field">
      <label>Address
        <span style="color:red">*</span>
      </label>
      <input type="text" formControlName="address" [(ngModel)]="userdata.address" placeholder="enter your current Address">
      <div class="alert alert-danger" *ngIf="applicantForm.controls['address'].touched&&!applicantForm.controls['address'].valid">
        <p>please fill required fields
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- city -->
    <div class="field">
      <label>City
        <span style="color:red">*</span>
      </label>
      <input type="text" formControlName="city" [(ngModel)]="userdata.city" placeholder="enter your current city">
      <div class="alert alert-danger" *ngIf="applicantForm.controls['city'].touched&&!applicantForm.controls['city'].valid">
        <p>please fill required fields
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- Gender -->
    <div class="field">
      <label>Gender</label>
      <select class="ui dropdown" formControlName="gender" [(ngModel)]="userdata.gender">
        <option value="">select your gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="alert alert-danger" *ngIf="applicantForm.controls['gender'].touched&&!applicantForm.controls['gender'].valid">
        <p>please fill required fields
          <span style="color:red">*</span>
        </p>
      </div>
    </div>
    <!-- submit and discard action -->
    <button class="ui primary button" type="submit" (click)="onsubmit()"> Save </button>
    <button class="ui button" (click)="discardClicked()"> Discard </button>
  </form>
</div>
