<app-user-header [userdata]=userdata></app-user-header>
<br><br>
<div class="ui grid" id="viewposts">
    <div class="two wide column"></div>
  <div class="eight wide column">
    <h2>Applied jobs of you</h2>
    <div *ngIf='!loadPage && !loadError'>
        <h4>loading...... please wait</h4>
       <span> <img src="assets/loader.svg" height="64" alt="Nice green circle"/></span>
    </div>
    <h4 *ngIf='loadPage && !loadError && (!hrpost || !hrpost.length)'>
        no  Recommended jobs for you Present
    </h4>
    <div *ngIf="loadError">
        <div class="alert alert-danger">
          {{error_text}}
        </div>
    </div>
    <app-user-view-post *ngFor="let hrpost of hrpost | paginate: { itemsPerPage: 2, currentPage: p }" [hrpost]="hrpost"
      (userclick)="routeronclicked($event)"></app-user-view-post>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="six wide column">
  <div class="ui grid">
      <div class="four wide column">

      </div>
      <div class="ten wide column">
          <div class="ui piled segment">
              <h4 class="ui header">Job Nut</h4>
              <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. </p>
               <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint</p>
               <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri </p>
            </div>
         
            <div class="ui piled segment">
                <h4 class="ui header">Job Nut</h4>
                <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. </p>
                 <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint</p>
                 <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri </p>
              </div>
      </div>
    </div>
</div>