<app-user-header [userdata]="userdata"></app-user-header>
<br>
<div class="ui grid">
  <div class="four wide column" style="background-color: rgb(100, 99, 99); height:750px">
    <!-- <div style="margin-top: 30px; background-color: lightbalck">
      <a href="">
        <h4 class="nav">Hr Profile View</h4>
      </a>
    </div>
    <div style="margin-top: 30px; background-color: lightbalck">
      <a href="">
        <h4 class="nav">Chating</h4>
      </a>
    </div> -->
  </div>
  <div class="eight wide column">
    <app-user-view-post-deatilssummary [hrpost]=hrpost> </app-user-view-post-deatilssummary>
  </div>
  <div class="four wide column">

    <div class="ui grid">
        <div class="eight wide column">
           <h2>Shortlisted</h2>
          </div>
      <div class="eight wide column">
        <input type="button" [ngClass]="{green: isshortlist, red: !isshortlist}" class="ui button basic"  [value]="isshortlist ? 'Shortlisted' : 'pending...'">
      </div>
    </div>
    <br>
    <div class="ui grid">
      <div class="col-md-3">
        <button [disabled]="!isshortlist" class="btn btn-info">Chating</button>
      </div>
    </div>
  </div>
</div>