<div class="registration-hr">
  <div class="ui" style="float: left;">
      <span class="arrow left"></span>
  </div>
    <div class="ui very padded container segment">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="ui form">
        <h4 class="ui dividing header">New H.R Registration</h4>
        <div class="field">
          <label>Name *</label>
          <div class="two fields">
            <div class="field">
              <input type="text" id="first" placeholder="First Name" formControlName="first">
            </div>
            <div class="field">
              <input type="text" id="last" placeholder="Last Name" formControlName="last">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email *</label>
          <div class="fields">
            <div class="eight wide field">
              <input type="text" id="email" placeholder="Email" formControlName="email">
            </div>
            <div class="eight wide field">
              <input type="password" id="password" placeholder="Password" formControlName="password">
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Industry type</label>
            <select id="option" class="ui fluid dropdown" formControlName="option">
              <option>Select</option>
              <option [value]="option" *ngFor="let option of options">{{option}}</option>
            </select>
          </div>
          <div class="field">
            <label>Country</label>
            <div class="ui fluid search selection dropdown">
              <input type="" id="country">
              <i class="dropdown icon"></i>
              <div class="default text">Select Country</div>
              <div class="menu">
                <div class="item" data-value="af">
                  <i class="af flag"></i>Afghanistan</div>
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>State</label>
            <div class="ui fluid search selection dropdown">
              <input type="" id="states">
              <i class="dropdown icon"></i>
              <div class="default text">Select State</div>
              <div class="menu">
                <div class="item" data-value="af">
                  <i class="af flag"></i>Punjab</div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>City</label>
            <div class="ui fluid search selection dropdown">
              <input type="" id="city">
              <i class="dropdown icon"></i>
              <div class="default text">Select City</div>
              <div class="menu">
                <div class="item" data-value="af">
                  <i class="af flag"></i>Phagwara</div>
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide field">
          <label>Designation *</label>
          <input type="text" id="designation" placeholder="Designation" formControlName="designation">
        </div>
        <div class="sixteen wide padded field">
          <label>Address *</label>
          <input type="text" id="address" placeholder="Address" formControlName="address">
        </div>
        <div class="eight wide field">
          <label>Profile Photo:</label>
          <input id="image" type="file" id="profile_photo" placeholder="Photo" required="" capture (change)="fileTypeCheck($event)">
        </div>
        <div class=" field ui checkbox">
          <input type="checkbox" name="example">
          <label>I Agree to the
            <a href="#">Terms and Conditions</a>
          </label>
        </div>
        <div class="field">
          <button [disabled]="signupForm.invalid || imageFile" class="ui button" type="submit" tabindex="0">Register</button>
        </div>
      </form>
    </div>
  </div>
