<div class="registration-hr">
  <div class="ui" style="float: left;">
    <span class="arrow left"></span>
  </div>
  <div class="ui very padded container segment">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="ui form">
      <h4 class="ui dividing header">New H.R Registration</h4>
      <div class="field">
        <label>Name *</label>
        <div class="two fields">
          <div class="field">
            <input type="text" id="first" placeholder="First Name" [(ngModel)]="user_details.fname" formControlName="fname">
          </div>
          <div class="field">
            <input type="text" id="last" placeholder="Last Name" [(ngModel)]="user_details.lname" formControlName="lname">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Email *</label>
        <div class="fields">
          <div class="eight wide field">
            <input type="text" id="email" placeholder="Email" [(ngModel)]="user_details.email" formControlName="email">
          </div>
          <div class="eight wide field">
            <input type="password" id="password" placeholder="Password" [(ngModel)]="user_details.password" formControlName="password">
          </div>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Industry type</label>
          <select id="option" class="ui fluid dropdown" formControlName="industry" [(ngModel)]="user_details.industry">
            <option>Select</option>
            <option [value]="industry" *ngFor="let industry of options">{{industry}}</option>
          </select>
        </div>
        <div class="field">
          <label>Country *</label>
          <select id="country" class="ui fluid dropdown" formControlName="country" [(ngModel)]="user_details.country">
            <option>Select</option>
            <option>India</option>
          </select>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>States *</label>
          <select id="states" class="ui fluid dropdown" formControlName="states" [(ngModel)]="user_details.state">
            <option>Select</option>
            <option [value]="state" *ngFor="let state of states">{{state}}</option>
          </select>
        </div>
        <div class="field">
          <label>City</label>
          <input type="text" id="city" placeholder="City" formControlName="city" [(ngModel)]="user_details.city">
        </div>
      </div>
      <div class="eight wide field">
        <label>Designation *</label>
        <input type="text" id="designation" placeholder="Designation" formControlName="designation" [(ngModel)]="user_details.designation">
      </div>
      <div class="sixteen wide padded field">
        <label>Address *</label>
        <input type="text" id="address" placeholder="Address" formControlName="address" [(ngModel)]="user_details.address">
      </div>
      <div class="eight wide field">
        <label>Profile Photo:</label>
        <input id="image" type="file" id="profile_photo" placeholder="Photo" required="" capture (change)="fileTypeCheck($event)" >
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public">
        <label>I Agree to the
          <a href="#">Terms and Conditions</a>
        </label>
      </div>-
      <div class="field">
        <button [disabled]="signupForm.invalid || imageFile" class="ui button" type="submit" tabindex="0" (click)="gethrDash()">Register</button>
      </div>
    </form>
  </div>
</div>