<form  class="ui form" [formGroup]="pdForm">
<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="field">
            <label>Name</label>
            <input type="text" name="Name" formControlName="name" placeholder="Full Name" >
          </div>
          <div class="field">
            <label>Email</label>
            <input type="text" name="email" formControlName="email" placeholder="valid Email addresss">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="text" name="Password" formControlName="password" placeholder="create password">
          </div>
          <div class="field">
            <label>Mobile Number</label>
            <input type="number" name="mobile" formControlName="number" placeholder="enter number">
          </div>
          <button class="ui button" type="submit" (click)="personalDetailClicked()">Next</button>
     
      </div>
    </div>
  </div>
</form>
  