<div class="row">
  <div class="col-md-3">
    <h4>Job Title:</h4>
  </div>
  <div class="col-md-9">
    <h1 style="text-align: center">{{hrpost.title}}</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>Job Description:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.description}}</p>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Company Name:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.companyname}}</p>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>StartDate To Register:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.startdate}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>EndDate To Register:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.enddate}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>Skills Required:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.skills}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>Job Location:</h4>
  </div>
  <div class="col-md-9">
    <p> {{hrpost.location}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>Salary:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.salary}}</p>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Experinece Required:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.experinece}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Date of Joining:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.dateOfJoining}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Extra Requirement:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.extraRequirement}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>No Of Job Openings:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.noOfJobOpenings}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Company Url:</h4>
    </div>
    <div class="col-md-9">
      <a target="blank" href="http://{{hrpost.CompanyUrl}}">{{hrpost.CompanyUrl}}</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Bond Details:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.bondDetails}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Reporting Venue:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.ReportingVenue}}</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
      <h4>Resource Person Contact:</h4>
    </div>
    <div class="col-md-9">
      <p>{{hrpost.ResourcePersonContact}}</p>
    </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <h4>Resource Person Contact:</h4>
  </div>
  <div class="col-md-9">
    <p>{{hrpost.selectionProcedure}}</p>
  </div>
</div>