<div class="ui very padded container segment">
  <form [formGroup]="hrexperienceForm" (ngSubmit)="onSubmit()" class="ui form">
    <h4 class="ui dividing header"></h4>
    <div class="field">
      <label>Current Designation *</label>
      <div class="field">
        <input type="text" id="currdesig" placeholder="Current Designation" formControlName="currdesig">
      </div>
    </div>
    <div class="field">
      <label>Current Employer</label>
      <div class="field">
        <input type="text" id="curremp" placeholder="Current Employer" formControlName="curremp">
      </div>
    </div>
    <div class="field">
      <label>Job Profile</label>
      <div class="field">
        <input type="text" id="jobprofile" placeholder="Employer" formControlName="jobprofile">
      </div>
    </div>
    <div class="field">
      <label>Joined in</label>
      <div class="field">
        <input type="text" id="joinedin" placeholder="Lcoation" formControlName="joinedin">
      </div>
    </div>
<button class="ui primary button" type="submit" (click)="onSubmit()"> Save </button>
<button class="ui button" (click)="discardClicked()"> Discard </button>
</form>
</div>