<app-user-header [userdata]=userdata></app-user-header>
<div *ngIf="searchBarInfo">
  <div class="search-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group" style="float:left;width:90%">
          <input type="text" (click)="onfocus()" class="form-control" placeholder="Search for jobs">
        </div>
        <div class="form-group" style="float:right;width:10%">
          <button class="form-control" value="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="searchBarInfo1">
  <div class="search-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group" style="float:left;width:90%">
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search through Designation,Skills,Company name">
        </div>
        <div class="form-group" style="float:left;width:90%">
          <input type="text" [(ngModel)]="searchLocation" class="form-control" placeholder="Search through Location">
        </div>
        <div class="form-group" style="float:right;width:10%">
          <button  class="form-control" value="submit" (click)="searchClicked()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3" style="background-color: rgb(100, 99, 99); height:750px">
    <!-- <div style="margin-top: 30px; background-color: lightbalck">
      <a (click)="userAppliedJob()">
        <h4 class="nav">{{jobtext}}</h4>
      </a>
    </div>
    <div style="margin-top: 30px; background-color: lightbalck">
      <a href="">
        <h4 class="nav">Saved JOb</h4>
      </a>
    </div> -->
  </div>
  <div class="col-md-6" style="border: 2px solid lightgrey;height: 600px">
    <br>
    <div *ngIf="jobInfo">
      <h2>Recommended jobs for you</h2>
      <app-user-view-post *ngFor="let hrpost of suggestedjob | paginate: { itemsPerPage: 2, currentPage: p }" [hrpost]=hrpost (userclick)="routeronclicked($event)"></app-user-view-post>
    </div>
    <div *ngIf="searchInfo">
      <h2>Search results</h2>
      <app-user-view-post *ngFor="let hrpost of searchData | paginate: { itemsPerPage: 2, currentPage: p }" [hrpost]="hrpost" (userclick)="routeronclicked($event)"></app-user-view-post>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>