<div class="ui very padded container segment" >
  <form [formGroup]="hrdetailForm" (ngSubmit)="onSubmit()" class="ui form">
    <h4 class="ui dividing header"></h4>
    <div class="field">
      <label>Name *</label>
      <div class="field">
        <input type="text" id="name" placeholder="First Name" formControlName="name">
      </div>
    </div>
    <div class="field">
      <label>Current Designation *</label>
      <div class="field">
        <input type="text" id="designation" placeholder="Designation" formControlName="designation">
      </div>
    </div>
    <div class="field">
      <label>Current Employer *</label>
      <div class="field">
        <input type="text" id="curremployer" placeholder="Employer" formControlName="curremployer">
      </div>
    </div>
    <div class="field">
      <label>Current Location *</label>
      <div class="field">
        <input type="text" id="currlocation" placeholder="Lcoation" formControlName="currlocation">
      </div>
    </div>
    <div class="field">
      <label>Profile Heading *</label>
      <div class="field">
        <textarea rows="3" type="profile" id="profile" placeholder="profile heading" formControlName="profile"></textarea>
      </div>
    </div>
    <button class="ui primary button" type="submit"> Save </button>
    <button class="ui button" (click)="discardClicked()"> Discard </button>
  </form>
</div>