<div class="field">
  <label>Qualification*</label>
  <select (change)="highestEducation1($event.target.value)">
    <option>Select your qualification</option>
    <option  *ngFor="let i of qualArray">{{i}}</option>
  </select>
</div>

<div *ngIf="doctorateInfo1">
  <div class="field">
    <label>Course*</label>
    <select>
      <option>Select your course</option>
      <option    *ngFor="let i of coursesArray">{{i}}</option>
      <option value="Other" (Keyup)="otherFunction()">Other</option>
    </select>
  </div>

  <div class="field" *ngIf="otherInfo">
    <input type="text" placeholder="enter your course">
  </div>

  <div class="field">
    <label>Specialization*</label>
    <select>
      <option>Select Specialization</option>
      <option   *ngFor="let i of specializationArray">{{i}}</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="field">
    <label>University/College*</label>
    <input type="text"   placeholder="Institute Name" />
  </div>
  <div class="field">
    <label>Passing Year*</label>
    <select>
      <option>Select</option>
      <option  *ngFor="let i of yearArray">{{i}}</option>
    </select>
  </div>
</div>
<div *ngIf="twelthInfo1">
  <div class="field">
    <label>Board*</label>
    <select>
      <option>Please Select Board</option>
      <option  *ngFor="let i of boardArray">{{i}}</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="field">
    <label>Year of Passing*</label>
    <select>
      <option>Select</option>
      <option   *ngFor="let i of yearArray">{{i}}</option>
    </select>
  </div>
  <div class="field">
    <label>Medium*</label>
    <select>
      <option>Please Select language Medium</option>
      <option   *ngFor="let i of mediumArray">{{i}}</option>
    </select>
  </div>
  <div class="field">
    <label>Percentage*</label>
    <input type="text"   placeholder="Please enter your percentage" />
  </div>

</div>
<div *ngIf="belowTenth">
  <!-- <div class="field">
    <label>Skills*</label>
    <input type="text" placeholder="Please enter your Skills" />
  </div> -->
</div>
<div class="field" *ngIf="addMore1">
  <input type="button" value="Add more qualifications" (click)="addMoreQualifications1()"  />
</div>