<div class="ui very padded container segment">
  <form   class="ui form">
    <div class="field">
      <label>Industries *</label>
      <div class="field">
        <input type="text" id="industry" >
      </div>
    </div>
    <div class="field">
      <label>Functional Areas *</label>
      <div class="field">
        <input type="text" id="functional" >
      </div>
    </div>
    <div class="field">
      <label>Levels I hire For *</label>
      <div class="field">
        <input type="text" id="levels">
      </div>
    </div>
    <div class="field">
      <label>Clients I hire for *</label>
      <div class="field">
        <input type="text" id="hirefor" >
      </div>
    </div>
    <div class="field">
      <label>Skills/Roles I hire for *</label>
      <div class="field">
        <textarea rows="3" type="text" id="skills" ></textarea>
      </div>
    </div>
    <div style="width: 300px; margin-bottom: 20px;">
      <h3>Select multiple cities</h3>
      <ng-select  [multiple]="true"
                  [items]="items"
                  [disabled]="disabled"
                  (data)="refreshValue($event)"
                  (selected)="selected($event)"
                  (removed)="removed($event)"
                  placeholder="No city selected"></ng-select>
      <pre>{{itemsToString(value)}}</pre>
      <div>
      
      </div>
    </div>
    <button class="ui primary button" type="submit"> Save </button>
    <button class="ui button" (click)="discardClicked()"> Discard </button>
  </form>
</div>






<!-- 
<div class="ui very padded container segment">
  <form [formGroup]="hrskillForm" (ngSubmit)="onSubmit()" class="ui form">
    <div class="field">
      <label>Industries *</label>
      <div class="field">
        <input type="text" id="industry" formControlName="industry">
      </div>
    </div>
    <div class="field">
      <label>Functional Areas *</label>
      <div class="field">
        <input type="text" id="functional" formControlName="functional">
      </div>
    </div>
    <div class="field">
      <label>Levels I hire For *</label>
      <div class="field">
        <input type="text" id="levels" formControlName="levels">
      </div>
    </div>
    <div class="field">
      <label>Clients I hire for *</label>
      <div class="field">
        <input type="text" id="hirefor" formControlName="hirefor">
      </div>
    </div>
    <div class="field">
      <label>Skills/Roles I hire for *</label>
      <div class="field">
        <textarea rows="3" type="text" id="skills" formControlName="skills"></textarea>
      </div>
    </div>
    <button class="ui primary button" type="submit"> Save </button>
    <button class="ui button" (click)="discardClicked()"> Discard </button>
  </form>
</div>


<div style="width: 300px; margin-bottom: 20px;">
  <h3>Select multiple cities</h3>
  <ng-select  [multiple]="true"
              [items]="items"
              [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              placeholder="No city selected"></ng-select>
  <pre>{{itemsToString(value)}}</pre>
  <div>
    <button formControlName="skills1" type="button" class="btn btn-primary"
            [(ngModel)]="disabledV" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0">
      {{disabled === '1' ? 'Enable' : 'Disable'}}
    </button>
  </div>
</div> -->