<div class="ui very padded container segment">
  <form class="ui form">
    <div class="field">
      <label>Select Industries type: (max 3)</label>
      <select class="ui fluid search dropdown" multiple="">
        <option value="">Select</option>
        <option *ngFor="let option of items">{{option}}</option>
      </select>
    </div>
    <div class="field">
      <label>Select Functional Areas (max 3)</label>
      <select class="ui fluid search dropdown" multiple="">
          <option value="">Select</option>
          <option *ngFor="let option of functional">{{option}}</option>
        </select>
    </div>
    <div class="field">
      <label>Levels for hiring (max 3)</label>
      <select class="ui fluid search dropdown" multiple="">
          <option value="">Select</option>
          <option *ngFor="let option of levels">{{option}}</option>
        </select>
    </div>
    <div class="field">
      <label>Clients I hire for *</label>
      <div class="field">
        <input type="text" id="hirefor">
      </div>
    </div>
    <div class="field">
      <label>Skills/Roles I hire for *</label>
      <div class="field">
        <textarea rows="3" type="text" id="skills"></textarea>
      </div>
    </div>
    <button class="ui primary button" type="submit"> Save </button>
    <button class="ui button" (click)="discardClicked()"> Discard </button>
  </form>
</div>