<app-user-header [userdata]=userdata></app-user-header>

<div class="row" style="margin:30px">
  <div class="col-md-8">
    <div class='panel panel-default'>
      <div class="panel-body">
        <div class="flied">

        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="" width="150px" height="150px">
          </div>
          <div class="col-md-6">
            <h1>{{userdata.firstName}} {{userdata.lastName }}</h1>
            <p>{{userdata.email}} </p>
            <p>{{userdata.phone}} </p>
          </div>
        </div>

      </div>

    </div>
    <br>

    <div class='panel panel-default'>
      <div class="panel-body">
        <div class="flied">
          <h2>Personal Information</h2>
          <a class="fr" (click)="EditPersonalDetails()">Edit</a>
        </div>
        <div *ngIf="detailsMain">
          <div class="row">
            <div class="col-md-3">
              <h5>Full Name</h5>
            </div>
            <div class="col-md-6">
              {{userdata.firstName}} {{userdata.lastName }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Email</h5>
            </div>
            <div class="col-md-6">
              {{userdata.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Mobile Number</h5>
            </div>
            <div class="col-md-6">
              {{userdata.phone}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Date of birth</h5>
            </div>
            <div class="col-md-6">
              {{userdata.dob | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Address</h5>
            </div>
            <div class="col-md-6">
              {{userdata.address}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Locaion</h5>
            </div>
            <div class="col-md-6">
              {{userdata.location}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Gender</h5>
            </div>
            <div class="col-md-6">
              {{userdata.gender}}
            </div>
          </div>
        </div>
        <div *ngIf="detailsOpen">
          <app-user-personal-details (discardClick)="closeDetails()" [userdata]="userdata"></app-user-personal-details>
        </div>
      </div>

    </div>

    <div class='panel panel-default'>
      <div class="panel-body">
        <div class="flied">
          <h2>Experinces</h2>
          <a class="fr" (click)="EditExpDetails()">Edit</a>
        </div>
        <div *ngIf="expMain">
          <div class="row">
            <div class="col-md-3">
              <h5>Profile Title</h5>
            </div>
            <div class="col-md-6">
              <!-- {{userdata.Experinces.profileTitle}} -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Total Experience</h5>
            </div>
            <div class="col-md-6">
              <!-- {{userdata.Experinces.totalExperienceYear}} -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Description</h5>
            </div>
            <div class="col-md-6">
              <!-- {{userdata.Experinces.Description}} -->
            </div>
          </div>

        </div>
        <div *ngIf="expOpen">
          <app-user-experience-details (discardClick)="closeExp()"></app-user-experience-details>
        </div>
      </div>

    </div>

    <div class='panel panel-default'>
      <div class="panel-body">
        <a class="fr">Add more Qualification</a>
        <div class="flied">
          <h2>Education</h2>
          <a class="fr" (click)="EditEducationDetails()">Edit</a>
        </div>
        <div *ngIf="educationMain">
          <div *ngFor="let education of userdata.education; let i = index">
            <div class="row">
              <div class="col-md-3">
                <h5>Highest Qualification</h5>
              </div>
              <div class="col-md-6">
               {{userdata.education[i].higherDegreeValue}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>University/College/School</h5>
              </div>
              <div class="col-md-6">
                  {{userdata.education[i].universityName}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Passing Year</h5>
              </div>
              <div class="col-md-6">
                  {{userdata.education[i].passingYearValue}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Percentage</h5>
              </div>
              <div class="col-md-6">
                  {{userdata.education[i].percentageValue}}
              </div>
            </div>

          </div>


        </div>
        <div *ngIf="educationOpen">
          <app-user-education-details (discardClick)="closeEducation()"></app-user-education-details>
        </div>
      </div>

    </div>

    <div class='panel panel-default'>
      <div class="panel-body">
        <div class="flied">
          <h2>Skills</h2>
          <a class="fr" (click)="EditSkillsDetails()">Edit</a>
        </div>
        <div *ngIf="skillMain">
          <!-- <div *ngFor="let skills of userdata.skillValue"> -->

          <p >{{userdata.skillValue}}</p>
        <!-- </div> -->
        <div *ngIf="skillOpen">
          <app-user-skills-details (discardClick)="closeSkill()"></app-user-skills-details>
        </div>
      </div>

    </div>
  </div>


</div>