<div class="container">

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-bottom:50px;">

      <form [formGroup]='hrpostNewDataForm'>

        <div class="field">
          <label>Company Name
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="companyname" [(ngModel)]="hrpostNewData.companyname" class="form-control" placeholder="please company name">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['companyname'].valid && hrpostNewDataForm.controls['companyname'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>
        <div class="field">
          <label>Job Title
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="title" [(ngModel)]="hrpostNewData.title" class="form-control" placeholder="Full Name">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['title'].valid && hrpostNewDataForm.controls['title'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Job Description
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="description" [(ngModel)]="hrpostNewData.description" class="form-control" placeholder="please description">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['description'].valid && hrpostNewDataForm.controls['description'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Selection Procedure
            <span style="color:red">*</span>
          </label>
          <textarea type="text" formControlName="selectionProcedure" [(ngModel)]="hrpostNewData.selectionProcedure" class="form-control"
            placeholder="please enter steps for  selection procedure"></textarea>
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['selectionProcedure'].valid && hrpostNewDataForm.controls['selectionProcedure'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Start Date to Register
            <span style="color:red">*</span>
          </label>
          <input type="date" formControlName="startdate" [(ngModel)]="hrpostNewData.startdate" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['startdate'].valid && hrpostNewDataForm.controls['startdate'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>End Date to Register
            <span style="color:red">*</span>
          </label>
          <input type="date" formControlName="enddate" [(ngModel)]="hrpostNewData.enddate" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['enddate'].valid && hrpostNewDataForm.controls['enddate'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Skills Required
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="skills" [(ngModel)]="hrpostNewData.skills" class="form-control" placeholder="please enter the required skills">
        </div>
        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['skills'].valid && hrpostNewDataForm.controls['skills'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label> Job Location
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="location" [(ngModel)]="hrpostNewData.location" class="form-control" placeholder="please enter location">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['location'].valid && hrpostNewDataForm.controls['location'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Salary
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="salary" [(ngModel)]="hrpostNewData.salary" class="form-control" placeholder="please enter salary">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['salary'].valid && hrpostNewDataForm.controls['salary'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Experinece
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="experinece" [(ngModel)]="hrpostNewData.experinece" class="form-control" placeholder="please  the minumum experinece">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['experinece'].valid && hrpostNewDataForm.controls['experinece'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>DateOfJoining
            <span style="color:red">*</span>
          </label>
          <input type="date" formControlName="dateOfJoining" [(ngModel)]="hrpostNewData.dateOfJoining" class="form-control">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['dateOfJoining'].valid && hrpostNewDataForm.controls['dateOfJoining'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label>Company Url
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="CompanyUrl" [(ngModel)]="hrpostNewData.CompanyUrl" class="form-control" placeholder="please enter Company Url">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['CompanyUrl'].valid && hrpostNewDataForm.controls['CompanyUrl'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label>Bond Details
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="bondDetails" [(ngModel)]="hrpostNewData.bondDetails" class="form-control" placeholder="please enter Bond Details">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['bondDetails'].valid && hrpostNewDataForm.controls['bondDetails'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label>Reporting Venue
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="ReportingVenue" [(ngModel)]="hrpostNewData.ReportingVenue" class="form-control" placeholder="please enter Reporting Venue">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['ReportingVenue'].valid && hrpostNewDataForm.controls['ReportingVenue'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label>Resource Person Contact
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="ResourcePersonContact" [(ngModel)]="hrpostNewData.ResourcePersonContact" class="form-control"
            placeholder="please enter Resource Person Contact">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['ResourcePersonContact'].valid && hrpostNewDataForm.controls['ResourcePersonContact'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>No Of Job Openings</label>
          <input type="text" formControlName="noOfJobOpenings" [(ngModel)]="hrpostNewData.noOfJobOpenings" class="form-control" placeholder="please enter Extra Requirement">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['noOfJobOpenings'].valid && hrpostNewDataForm.controls['noOfJobOpenings'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>


        <div class="field">
          <label>Extra Requirement</label>
          <input type="text" formControlName="extraRequirement" [(ngModel)]="hrpostNewData.extraRequirement" class="form-control" placeholder="please enter Extra Requirement">
        </div>

        <div class="alert alert-danger" *ngIf="!hrpostNewDataForm.controls['extraRequirement'].valid && hrpostNewDataForm.controls['extraRequirement'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <button class="btn btn-success" [disabled]='hrpostNewDataForm.invalid' (click)="onSubmit()">submit</button>
        </div>
      </form>
    </div>

  </div>