<form class="ui form" [formGroup]="qualForm">
  <div class="field">
    <label>Qualification*</label>
    <select required (change)="highestEducation1($event.target.value)" formControlName="higherDegreeValue1">
      <option>Select your qualification</option>
      <option *ngFor="let i=index; let j of myDegryIn">{{myDegryIn[i+1]}}</option>
    </select>
  </div>
  <div *ngIf="myFieldInfo">
    <div class="field">
      <label>Course*</label>
      <select formControlName="courseValue1">
        <option>Select your course</option>
        <option *ngFor="let i of coursesArray">{{i}}</option>
        <!-- <option value="Other" (Keyup)="otherFunction()">Other</option> -->
      </select>
    </div>

    <!-- <div class="field" *ngIf="otherInfo">
        <input type="text" placeholder="enter your course">
      </div> -->

    <div class="field">
      <label>Specialization*</label>
      <select required formControlName="specializationValue1">
        <option>Select Specialization</option>
        <option *ngFor="let i of specializationArray">{{i}}</option>
      </select>
    </div>
    <div class="field">
      <label>University/College*</label>
      <input required type="text" formControlName="universityName1" placeholder="Institute Name" />
    </div>
    <div class="field">
      <label>Passing Year*</label>
      <select required formControlName="passingYearValue1">
        <option>Select</option>
        <option *ngFor="let i of yearArray">{{i}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="myFieldInfo1">
    <div class="field">
      <label>Board*</label>
      <select required formControlName="boardValue1">
        <option>Please Select Board</option>
        <option *ngFor="let i of boardArray">{{i}}</option>

      </select>
    </div>
    <div class="field">
      <label>Year of Passing*</label>
      <select required formControlName="passingValue1">
        <option>Select</option>
        <option *ngFor="let i of yearArray">{{i}}</option>
      </select>
    </div>
    <div class="field">
      <label>Medium*</label>
      <select required formControlName="mediumValue1">
        <option>Please Select language Medium</option>
        <option *ngFor="let i of mediumArray">{{i}}</option>
      </select>
    </div>
    <div class="field">
      <label>Percentage*</label>
      <input required type="text" formControlName="percentageValue1" placeholder="Please enter your percentage" />
    </div>
  </div>
  <button class="ui button" type="submit" (click)="qualificationData()">next</button>

</form>