<app-hr-header></app-hr-header>
<div class="ui very padded container segment">

  <h3 class="ui dividing header">H.R Dashboard</h3>
  <hr>
  <div class="row" style="margin:30px">
    <div class="col-md-10">
      <div class='panel panel-default'>
        <div class="panel-body">
          <div class="field">

          </div>
          <div class="row">
            <div class="col-md-3 wrapper">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="updateProfilePicture($event.target.files)" />
                  <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <!-- <div  [ngStyle]="{background: 'url(http://localhost:3000/images/' + ')'}"></div> -->
                  <div id="imagePreview" [ngStyle]="{'background-image': profile_photo_for_viewing}"></div>
                  <!-- <div id="imagePreview" [ngStyle]="{background: 'url(http://localhost:3000/images/' + hrdata.profile_photo + ')'"></div>
                         -->
                  <!-- {{"url(http://localhost:3000/images/" + {{hrdata.profile_photo}} + ")"}}> -->

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1>{{hrdata?.firstName + ' ' + hrdata?.lastName}}</h1>
              <h3>{{hrdata?.designation}}</h3>
              <p>{{hrdata?.jobProfile}}</p>
              <p>
                <span class="glyphicon glyphicon-map-marker"></span>{{hrdata?.city}}</p>
            </div>
          </div>

        </div>
      </div>
      <br>

      <div class='panel panel-default'>
        <div class="panel-body">
          <div class="field">
            <h2>Personal Information</h2>
            <a class="fr" (click)="EditPersonalDetails()">Edit</a>
          </div>
          <div *ngIf="detailsMain">
            <div class="row">
              <div class="col-md-3">
                <h5>Full Name</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.firstName + ' ' + hrdata?.lastName }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Email</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.email}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Mobile Number</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.phone}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Date of birth</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.dob | date: 'dd/MM/yyyy'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Address</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.address}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>country</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.country}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>State</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.state}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>Location</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.city}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <h5>designation</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.designation}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>current</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.designation}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h5>jobProfile</h5>
              </div>
              <div class="col-md-6">
                {{hrdata?.jobProfile}}
              </div>
            </div>
          </div>
          <div *ngIf="detailsOpen">
            <app-hr-details (discardClick)="closeDetails()" (saveClick)="closeDetails()" [hrdata]="hrdata"></app-hr-details>
          </div>
        </div>

      </div>

      <div class='panel panel-default'>
        <div class="panel-body">
          <div class="field">
            <a class="fr" (click)="AddExperienceMore()">Add more Experiences</a>
            <h2>Experinces</h2>
          </div>

          <div *ngFor="let experience of hrdata?.experience; let i = index">
            <!-- <a class="fr" (click)="EditExpDetails()">Edit</a> -->
            <div *ngIf="expMain">
              <div class="row">
                <div class="col-md-3">
                  <h5>Profile Title</h5>
                </div>
                <div class="col-md-6">
                  {{hrdata?.experience[i].designation}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h5>Experiences</h5>
                </div>
                <div class="col-md-6">
                  {{hrdata?.experience[i].totalExperience}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h5>Description</h5>
                </div>
                <div class="col-md-6">
                  {{hrdata?.experience[i].description}}
                </div>
              </div>

            </div>
            <div *ngIf="ExpOpen">
              <app-hr-experience (discardClick)="closeexp()"></app-hr-experience>
            </div>
            <hr>
          </div>
          <div *ngIf="expAdd">
            <app-hr-experience-add-details (discardClick)="closeAddExp()" (saveClick)="closeAddExp()" [hrdata]="hrdata"></app-hr-experience-add-details>
          </div>
        </div>
      </div>

      <div class='panel panel-default'>
        <div class="panel-body">
          <div class="field">
            <h4 class="inline">Skills I Looking For to hire</h4>
            <a class="fr" (click)="EditSkills()">Edit</a>

            <div *ngIf="SkillsMain">
              <div class="row">
                <div class="col-md-3">
                  <h5>Skill Required</h5>
                </div>
                <div class="col-md-6">
                  <!-- <p>{{hrpost. skillValue}}</p> -->
                </div>
              </div>
            </div>
            <div *ngIf="SkillsOpen">
              <app-hr-skill (discardClick)="closeSkills()"></app-hr-skill>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</div>
