<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
 
  <div class="search-container" >
       <input type="text" placeholder="search for available jobs" [(ngModel)]="searchText"/>  
      <button class="btn-btn-button" type="submit" (click)="searchClicked()"><span class="glyphicon glyphicon-search"></span></button>
 </div>
</div>

<br>
<div class="row">
  <div class="col-md-3">
    <ul>
      <li>abc</li>
      <li>abc</li>
      <li>abc</li>
      <li>abc</li>
    </ul>
  </div>
  <div class="col-md-6" style="border: 2px solid lightgrey;height: 600px">
    <br>
   <!-- <app-login-view-post *ngFor="let hrpost of hrpost" [hrpost]=hrpost (userclick)="routeronclicked($event)"></app-login-view-post> -->
   <div *ngIf="jobInfo">
    <app-login-view-post  *ngFor="let hrpost of suggestedjob" [hrpost]=hrpost (userclick)="routeronclicked($event)"></app-login-view-post>
   </div>
   <div *ngIf="searchInfo">
    <app-login-view-post  *ngFor="let hrpost of searchData" [hrpost]=hrpost (userclick)="routeronclicked($event)"></app-login-view-post>
   </div>
  </div>
</div>