<div class="ui very padded container segment" >
    <form class="ui form">
      <h4 class="ui dividing header"></h4>
        <div class="field">
          <label>Skills</label>
          <select  class="ui fluid search dropdown"  multiple="" >
            <option value="">Select</option>
            <option *ngFor="let option of skillsArray">{{option}}</option>
          </select>
        </div>
     
      <button class="ui primary button" type="submit"> Save </button>
      <button class="ui button" (click)="discardClicked()"> Discard </button>
    </form>
</div>