<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav" style="padding-left:35%">
      <li [style.background-color]="personalInfo?'lightgrey':default">
        <a>Personal Details</a>
      </li>
      <li [style.background-color]="educationInfo?'lightgrey':default">
        <a>Education</a>
      </li>
    </ul>

  </div>
</nav>
<form [formGroup]="applicantForm" (ngSubmit)="onSubmit(applicantForm)">
  <div class="container" *ngIf="personalInfo">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">

        <div class="field">
          <label>Name
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="name" class="form-control" placeholder="Full Name">
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['name'].vaild && applicantForm.controls['name'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>
        <div class="field">
          <label>Email
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="email" class="form-control" placeholder="valid Email addresss">
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['email'].vaild && applicantForm.controls['email'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>
        <div class="field">
          <label>Date Of Birth
            <span style="color:red">*</span>
          </label>
          <input type="date" formControlName="dob" class="form-control" placeholder="enter date of birth">
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['dob'].vaild && applicantForm.controls['dob'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Mobile Number
            <span style="color:red">*</span>
          </label>
          <input type="number" formControlName="phone" class="form-control" placeholder="enter number">
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['phone'].vaild && applicantForm.controls['phone'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <label>Password
            <span style="color:red">*</span>
          </label>
          <input type="text" name="Password" formControlName="password" class="form-control" placeholder="create password">
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['password'].vaild && applicantForm.controls['password'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>
        <!-- <buuton class="btn btn-success" [disabled]="applicantForm.invalid" (click)="personalDetailClicked()">Next</button> -->
        <!-- [disabled]="!applicantForm.value.password" -->
        <button class="btn btn-success" (click)="personalDetailClicked()">Next</button>





      </div>
    </div>
  </div>

  <div class="container" *ngIf="educationInfo">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div>
          <div class="field">
            <label>Highest Qualification
              <span style="color:red">*</span>
            </label>
            <select (change)="highestEducation($event.target.value)" class="form-control" formControlName="higherDegreeValue">
              <option>Select your highest qualification</option>
              <option *ngFor="let i of highestDegreeArray">{{i}}</option>
            </select>
          </div>
          <div *ngIf="doctorateInfo">
            <div class="field">
              <label>Course
                <span style="color:red">*</span>
              </label>
              <select formControlName="courseValue" class="form-control">
                <option>Select your course</option>
                <option *ngFor="let i of coursesArray">{{i}}</option>

              </select>
            </div>
            <div class="field" *ngIf="otherInfo">
              <input type="text" placeholder="enter your course" />
            </div>
            <div class="field">
              <label>Specialization
                <span style="color:red">*</span>
              </label>
              <select formControlName="specializationValue" class="form-control">
                <option>Select Specialization</option>
                <option *ngFor="let i of specializationArray">{{i}}</option>
              </select>
            </div>
            <div class="field">
              <label>University/College
                <span style="color:red">*</span>
              </label>
              <input type="text" formControlName="universityName" class="form-control" placeholder="Institute Name" />
            </div>
            <div class="alert alert-danger" *ngIf="!applicantForm.controls['universityName'].vaild && applicantForm.controls['universityName'].touched">
              <p>Please fill required fields
                <span style="color:red">*</span>
              </p>
            </div>
            <div class="field">
              <label>Passing Year
                <span style="color:red">*</span>
              </label>
              <select formControlName="passingYearValue" class="form-control">
                <option>Select</option>
                <option *ngFor="let i of yearArray">{{i}}</option>
              </select>
            </div>
          </div>
          <div *ngIf="twelthInfo">
            <div class="field">
              <label>Board
                <span style="color:red">*</span>
              </label>
              <select formControlName="boardValue" class="form-control">
                <option>Please Select Board</option>
                <option *ngFor="let i of boardArray">{{i}}</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="field">
              <label>Year of Passing
                <span style="color:red">*</span>
              </label>
              <select formControlName="passingValue" class="form-control">
                <option>Select</option>
                <option *ngFor="let i of yearArray">{{i}}</option>
              </select>
            </div>
            <div class="field">
              <label>Medium
                <span style="color:red">*</span>
              </label>
              <select formControlName="mediumValue" class="form-control">
                <option>Please Select language Medium</option>
                <option *ngFor="let i of mediumArray">{{i}}</option>
              </select>
            </div>
            <div class="field">
              <label>Percentage
                <span style="color:red">*</span>
              </label>
              <input type="text" formControlName="percentageValue" class="form-control" placeholder="Please enter your percentage" />
            </div>
            <div class="alert alert-danger" *ngIf="!applicantForm.controls['percentageValue'].vaild && applicantForm.controls['percentageValue'].touched">
              <p>Please fill required fields
                <span style="color:red">*</span>
              </p>
            </div>


          </div>

          <div class="field" *ngIf="addMore1">
            <input type="button" value="Add more qualifications" (click)="addMoreQualifications2()" />
          </div>
        </div>
        <div *ngIf="addEducation1">
          <app-other-qualification [qualArray]="qualificationArray1" (adddata)="adddataform($event)" (addmore)="addMoreQualifications5($event)"></app-other-qualification>
        </div>


        <div *ngIf="addEducation2">
          <app-other-qualification [qualArray]="qualificationArray2" (adddata)="adddataform($event)" (addmore)="addMoreQualifications5($event)"></app-other-qualification>
        </div>


        <div *ngIf="addEducation3">
          <app-other-qualification [qualArray]="qualificationArray3" (adddata)="adddataform($event)" (addmore)="addMoreQualifications5($event)"></app-other-qualification>
        </div>

        <div *ngIf="addEducation4">
          <app-other-qualification (adddata)="adddataform($event)" [qualArray]="qualificationArray4"></app-other-qualification>
        </div>

        <div class="field">
          <label>Skills
            <span style="color:red">*</span>
          </label>
          <input type="text" formControlName="skillValue" class="form-control" placeholder="Please enter your Skills" />
        </div>
        <div class="alert alert-danger" *ngIf="!applicantForm.controls['skillValue'].vaild && applicantForm.controls['skillValue'].touched">
          <p>Please fill required fields
            <span style="color:red">*</span>
          </p>
        </div>

        <div class="field">
          <input type="submit" class="btn btn-success" [disabled]="!applicantForm.invalid" value="Register" />
        </div>

      </div>
    </div>
  </div>
</form>